<!--templates/client.html-->
{%  extends '_base.html' %}

{% block title %}DAS{% endblock title %}

{% block content %}

<br>
<div class="col-md">

<div class="row">
	
	<div class="col-xl-4 col-lg-6">
		<div class="card l-bg-white-dark">
			<div class="card-statistic-3 p-4">
				<div class="card-icon card-icon-large"><i class="far fa-building"></i></div>
				<div class="mb-4">
					<h3 class="card-title mb-0">{{lettremission.company.name}}</h3>
					<h5>{{lettremission.company.legal_form.lf_name}}</h5>

				</div>
				<div class="row align-items-center mb-2 d-flex">
					<div class="col-12">
						<h2 class="d-flex align-items-center mb-0">
							<h6><i class="fas fa-map-marker"></i> {{lettremission.company.adresse}} {{lettremission.company.city}}</h6>
							<h6>IF: {{lettremission.company.identifiant_fiscal}} - RC: {{lettremission.company.rc}} - TP: {{lettremission.company.tp}} - CNSS: {{lettremission.company.cnss}} - ICE: {{lettremission.company.ice}}</h6>
							<h6>Ex Débute: {{lettremission.company.fiscal_year}}</h6>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
</div>
<p>

<div class="col-md">
	<div class="card card-body">
		{% regroup dass by lettremission as lettremission_list %}
		<h3>Liste des <b>{{dass|length}}</b> DAS</h3>
		<input class="form-control" id="myInput" type="text" placeholder="Recherche..">
			
			{% for lettremission, dass in lettremission_list %}
			<div class="card-body">
						<div class="card-body">
								{% if lettremission %}
								<table class="table table-hover table-sm">
								<thead>
									<tr>
										<th>LDM</th>
										<th>Exercice</th>
										<th>Mois</th>
										<th>DAS</th>
										<th>Récap DAS</th>
										<th>Calcul IR DAS</th>
										<th>CSS DAS</th>
										<th>Exonération DAS</th>
										<th>Informations DAS</th>
										<th>Document</th>
									</tr>
								</thead>
								{% else %}
								{% endif %}
								<tbody id="myTable">

								{% for das in dass %}
				
										<tr>
											<td>{{das.lettremission.company|truncatechars:25}}</td>
											<td><b>{{das.exercice}}</b></td>
											<td>{{das.month}}</td>
											{% if das.statut == 0 %}
											<td ><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateDAS' das.id %}"><i class="fas fa-window-close"></i> En Attente</a></td>
											{% elif das.statut == 1 %}
											<td ><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateDAS' das.id %}"><i class="fas fa-step-forward"></i> Préparé</a></td>
											{% elif das.statut == 2 %}
											<td ><a class="btn btn-sm btn-success" href="{% url 'tasks:updateDAS' das.id %}"><i class="fas fa-check-double"></i> Validé</a></td>
											{% elif das.statut == 3 %}
											<td ><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateDAS' das.id %}"><i class="fas fa-window-close"></i> Non Validé</a></td>
											{% else %}
											<td ><a class="btn btn-sm btn-dark" href="{% url 'tasks:updateDAS' das.id %}"><i class="fab fa-slack-hash"></i> Non Applicable</a></td>
											{% endif %}
											<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateDASDetail' das.id %}"><i class="fas fa-eye"></i> Récap DAS</a></td>
											<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateDASMatriculeDetail' das.id %}"><i class="fas fa-eye"></i> Calcul IR DAS</a></td>
											<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateDASCSSDetail' das.id %}"><i class="fas fa-eye"></i> CSS DAS</a></td>
											<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateDASExoDetail' das.id %}"><i class="fas fa-eye"></i> Exonération DAS</a></td>
											<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateDASFIPPDetail' das.id %}"><i class="fas fa-eye"></i> Informations DAS</a></td>
											{% if das.file %}
											<td><a class="btn btn-sm btn-success" href="{{das.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
											{% else %}
											<td><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateDAS' das.id %}"><i class="fas fa-file-upload"></i></a></td>
											{% endif %}
										</tr>
										
									{% endfor %}
								</tbody>
								</table>
						</div>
				</div>
				{% endfor %}
		
			</div>
  </div>
	
{% endblock content %}