<!-- templates/customers/contact_detail.html -->
{% extends '_base.html' %}
{% block title %}Mise à Jour Client{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
		<h3>{{contact.person}}</h3>	
		<hr>
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{form|crispy}}
				<a class="btn btn-warning" href="{% url 'customers:contactList' %}">Retour</a>
                <input class="btn btn-primary" type="submit" name="Submit">
            </form>

		</div>
    </div>

	<!-- <div class="col-md-7">


	</div> -->

</div>

{% endblock content %}