<!--templates/LettreMissionLink.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Associés{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="{% url 'customers:createLettreMissionLink' prospect.id %}" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <a class="btn btn-warning" href="{% url 'customers:prospectDetail' prospect.id %}">Retour</a>

                <input class="btn btn-primary" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}