<br>

<div class="container-fluid">
	<div class="row">
	  <div class="col-sm">
		<div class="card text-center text-white mb-3" id="total-orders">
			<div class="card-header">
				<h5 class="card-title">Total Prestations</h5>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{total_ordres}}</h3>
			</div>
	  </div>
	  </div>
	  <div class="col-sm">
		<div class="card text-center text-white  mb-3" id="orders-inapprobal">
			<div class="card-header">
				<h5 class="card-title">En Attente Approbation</h5>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{inapproval}}</h3>
			</div>
	  </div>
	  </div>
	  <div class="col-sm">
		<div class="card text-center text-white  mb-3" id="orders-delivered">
			<div class="card-header">
				<h5 class="card-title">Prestations Réalisées</h5>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{terminate}}</h3>
			</div>
	  </div>
	  </div>
	  <div class="col-sm">
		<div class="card text-center text-white  mb-3" id="orders-inprocess">
			<div class="card-header">
				<h5 class="card-title">Prestations en Cours</h5>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{inprocess}}</h3>
			</div>
	  </div>
	  </div>
	  <div class="col-sm">
		<div class="card text-center text-white  mb-3" id="orders-canceled">
			<div class="card-header">
				<h5 class="card-title">Prestations Annulées</h5>
			</div>
			<div class="card-body">
			  <h3 class="card-title">{{canceled}}</h3>
			</div>
	  </div>
	  </div>
	</div>
  </div>

