<!-- templates/ordres/lettremission_list.html -->

{%  extends '_base.html' %}
{% load static %}
{% block title %}Lettres de Mission{% endblock title %}

{% block content %}


<br>
<div class="col-md-10 ">
	<div class="row ">
			<div class="col-xl-3 col-lg-6">
			<div class="card l-bg-cherry">
				<div class="card-statistic-3 p-4">
					<div class="card-icon card-icon-large"><i class="fas fa-user-clock"></i></div>
					<div class="mb-4">
						<h5 class="card-title mb-0">Prospects</h5>
					</div>
					<div class="row align-items-center mb-2 d-flex">
						<div class="col-4">
							<h2 class="d-flex align-items-center mb-2">
								{{prospects}}
							</h2>
						</div>
						<div class="col-8 text-right">
							<a type= "button" class="btn btn-sm btn-warning" href="{% url 'customers:prospectList' %}"> <i class="fas fa-eye"></i> Liste</a>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card l-bg-cherry">
				<div class="card-statistic-3 p-4">
					<div class="card-icon card-icon-large"><i class="fas fa-user-check"></i></div>
					<div class="mb-4">
						<h5 class="card-title mb-0">LDM Actives</h5>
					</div>
					<div class="row align-items-center mb-2 d-flex">
						<div class="col-4">
							<h2 class="d-flex align-items-center mb-2">
								{{lettremissions_actif}}
							</h2>
						</div>

						<div class="col-8 text-right">
						</div>
					</div>

					<!-- <div class="progress mt-1 " data-height="8" style="height: 8px;">
						<div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6">
			<div class="card l-bg-cherry">
				<div class="card-statistic-3 p-4">
					<div class="card-icon card-icon-large"><i class="fas fa-user-lock"></i></div>
					<div class="mb-4">
						<h5 class="card-title mb-0">LDM Résiliées</h5>
					</div>
					<div class="row align-items-center mb-2 d-flex">
						<div class="col-4">
							<h2 class="d-flex align-items-center mb-2">
							  {{lettremissions_inactif}}
							</h2>
						</div>
						<div class="col-4 text-right">
							<!-- <span>00% <i class="fas fa-arrow-up"></i></span> -->
						</div>
					</div>

				</div>
			</div>
		</div>
		{% if lettremissions_orph %}
		<div class="col-xl-3 col-lg-6">
			<div class="card l-bg-orange">
				<div class="card-statistic-3 p-4">
					<div class="card-icon card-icon-large"><i class="fas fa-mask"></i></div>
					<div class="mb-4">
						<h5 class="card-title mb-0">LDM Orpholines</h5>
					</div>
					<div class="row align-items-center mb-2 d-flex">
						<div class="col-4">
							<h2 class="d-flex align-items-center mb-2">
								{{lettremissions_orph}}
							</h2>
						</div>
						<div class="col-8 text-right">
							<a type= "button" class="btn btn-sm btn-danger" href="{% url 'ordres:lettremissionListOrph' %}"> <i class="fas fa-mask"></i> LDM Orpholines</a>
						</div>
					</div>
					<div>
					</div>
				</div>
			</div>
		</div>

		{% endif %}
	</div>
</div>

<div class="px-0 py-2 pt-md-3 pb-md-2 mx-auto text-center">
	<a type="button" class="btn btn-secondary btn-lg btn-block" href="{% url 'ordres:createLettreMission' %}">Ajouter une LDM</a>
	<br>
	<h1 class="display-4">Liste des Lettres de Mission Actives</h1>
	<p class="lead">A chacun son rôle dans l'édifice. Une gestion efficace au quotidien !</p>
</div>

{% include 'ordres/lettremission_list_ext.html' %}


{% endblock content %}