<!--templates/about.htmal-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Commandes{% endblock title %}

{% block content %}

<br>

  <div class="col-md-10 ">
	  <div class="row ">
		  	<div class="col-xl-2 col-lg-4">
			  <div class="card l-bg-blue-dark">
				  <div class="card-statistic-3 p-4">
					  <div class="card-icon card-icon-large"><i class="fas fa-shopping-cart"></i></div>
					  <div class="mb-4">
						  <h5 class="card-title mb-0">Commandes</h5>
					  </div>
					  <div class="row align-items-center mb-2 d-flex">
						  <div class="col-8">
							  <h2 class="d-flex align-items-center mb-0">
								  {{total_ordres}}
							  </h2>
						  </div>

					  </div>

				  </div>
			  </div>
		  </div>
		  <div class="col-xl-2 col-lg-6">
			  <div class="card l-bg-blue-dark">
				  <div class="card-statistic-3 p-4">
					  <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
					  <div class="mb-4">
						  <h5 class="card-title mb-0">Devis</h5>
					  </div>
					  <div class="row align-items-center mb-2 d-flex">
						  <div class="col-8">
							  <h2 class="d-flex align-items-center mb-0">
								0
							  </h2>
						  </div>

					  </div>

				  </div>
			  </div>
		  </div>
		  <div class="col-xl-2 col-lg-6">
			  <div class="card l-bg-blue-dark">
				  <div class="card-statistic-3 p-4">
					  <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
					  <div class="mb-4">
						  <h5 class="card-title mb-0">Réalisées</h5>
					  </div>
					  <div class="row align-items-center mb-2 d-flex">
						  <div class="col-8">
							  <h2 class="d-flex align-items-center mb-0">
								{{terminate}}
							  </h2>
						  </div>

					  </div>

				  </div>
			  </div>
		  </div>
		  <div class="col-xl-3 col-lg-6">
			  <div class="card l-bg-blue-dark">
				  <div class="card-statistic-3 p-4">
					  <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
					  <div class="mb-4">
						  <h5 class="card-title mb-0">Honoraires à facturer</h5>
					  </div>
					  <div class="row align-items-center mb-2 d-flex">
						  <div class="col-12">
							  <h2 class="d-flex align-items-center mb-0">
								{{total_price|floatformat:'2'}}</h2> 
						  </div>

					  </div>

				  </div>
			  </div>
		  </div>

		  <div class="col-xl-3 col-lg-6">
			<div class="card l-bg-blue-dark">
				<div class="card-statistic-3 p-4">
					<div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
					<div class="mb-4">
						<h5 class="card-title mb-0">Débours à facturer</h5>
					</div>
					<div class="row align-items-center mb-2 d-flex">
						<div class="col-12">
							<h2 class="d-flex align-items-center mb-0">
							  {{total_debours|floatformat:'2'}}</h2> 
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<br>

	<div class="col-md-12">
		<h5>Les Dernières Prestations</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-secondary  btn btn-outline-block" href="{% url 'ordres:ordreCreate' %}">Créer une Prestation</a>
			<table class="table table-hover">
				<thead>
				  <tr>
					<th scope="col">Client</th>
					<th scope="col">Date Commande</th>
					<th scope="col">Initiateur</th>
					<th scope="col">Editer</th>
					<th scope="col">Supprimer</th>
					<th scope="col">Document</th>
				  </tr>
				</thead>
				<tbody>

				{% if ordres %}
					{% for ordre in ordres %}
						<tr class="table">
							<td><a class="btn btn btn-outline-secondary" href="{% url 'ordres:customer' ordre.company.id %}">{{ordre.company}}</a></td>

							<td>{{ordre.ordre_date|date:'d/m/Y'}}</td>
							<td>{{ordre.incharge}}</td>
							{% if ordre.statut == 0 %}
							<td ><a class="btn btn-sm btn-info" href="{{ ordre.get_absolute_url }}"><i class="fas fa-step-forward"></i> En Approbation</a></td>
							{% elif ordre.statut == 1 %}
							<td ><a class="btn btn-sm btn-warning" href="{{ ordre.get_absolute_url }}"><i class="fas fa-step-forward"></i> Préparé</a></td>
							{% elif ordre.statut == 2 %}
							<td ><a class="btn btn-sm btn-primary" href="{{ ordre.get_absolute_url }}"><i class="fas fa-check"></i> Terminé</a></td>
							{% elif ordre.statut == 4 %}
							<td ><a class="btn btn-sm btn-success" href="{{ ordre.get_absolute_url }}"><i class="fas fa-check-double"></i> Facturé</a></td>
							{% elif ordre.statut == 3 %}
							<td ><a class="btn btn-sm btn-danger" href="{{ ordre.get_absolute_url }}"><i class="fas fa-window-close"></i> Annulé</a></td>
							{% else %}
							<td ><a class="btn btn-sm btn-dark" href="{{ ordre.get_absolute_url }}"><i class="fab fa-slack-hash"></i> N/A</a></td>
							{% endif %}
							<td><a class="btn btn-sm btn-outline-danger" href="{% url 'ordres:ordreDelete' ordre.id %}"><i class="fas fa-trash"></i> Sup.</a></td>
							{% if ordre.file %}
							<td><a class="btn btn-sm btn-outline-dark" href="{{ordre.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
							{% else %}<td></td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

		</div>
	</div>

</div>


{% endblock content %}