<!--templates/about.htmal-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Prestations Facturées{% endblock title %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-4">
		<h5>Clients</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Client</th>
					<th>Chiffre d'affaires</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-outline-info" href="{% url 'ordres:customer' customer.id %}">Voir</a></td>
						<td>{{customer.name}}</td>
						<td></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-8">
		<h5>Prestations Facturées</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-secondary  btn-sm btn-outline-block" href="{% url 'ordres:ordres' %}">Facturer une Prestation</a>
			<table class="table table-hover">
				<thead>
				  <tr>
					<th scope="col">Client</th>
					<th scope="col">Date Commande</th>
					<th scope="col">Initiateur</th>
					<th scope="col">Editer</th>
					<th scope="col">Supprimer</th>
					<th scope="col">Document</th>
				  </tr>
				</thead>
				<tbody>

				{% if ordres_statut4 %}
					<th class="bg-success">Facturées</th>
					{% for ordre in ordres_statut4 %}
						<tr class="table-success">
							<th scope="row">{{ordre.company}}</td>
							<td>{{ordre.ordre_date|date:'d/m/Y'}}</td>
							<td>{{ordre.incharge}}</td>
							<td><a class="btn btn-sm btn-outline-warning" href="{{ ordre.get_absolute_url }}"><i class="fas fa-edit"></i> Edit</a></td>
							<td><a class="btn btn-sm btn-outline-danger" href="{% url 'ordres:ordreDelete' ordre.id %}"><i class="fas fa-trash"></i> Sup.</a></td>
							{% if ordre.file %}
							<td><a class="btn btn-sm btn-outline-dark" href="{{ordre.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
							{% else %}<td></td>
							{% endif %}
						</tr>
					{% endfor %}
				{% endif %}

			</tbody>
		</table>

		</div>
	</div>

</div>


{% endblock content %}