<!--templates/pwsafe_delete.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Supprimer Accès{% endblock title %}

{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Etes-vous sûr de vouloir supprimer "{{pwsafe}}" ?</p>

            <form action="{% url 'ordres:deletePWSafe' pwsafe.id %}" method="POST">
            
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'ordres:lettremissionDetail' lettremission %}">Retour</a>
            
            
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>            
        </div>
    </div>
</div>


{% endblock content %}