<!--templates/das_delete.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Supprimer Service{% endblock title %}

{% load static %}
{% block content %}
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Etes-vous sûr de vouloir supprimer "{{das}}" ?</p>

            <form action="{% url 'tasks:deleteDAS' das.id %}" method="POST">
            
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'tasks:exerciceDASDetail' exercice %}">Retour</a>
            
            
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>            
        </div>
    </div>
</div>


{% endblock content %}