<!-- templates/tasks/exercice_detail.html -->
{% extends '_base.html' %}
{% block title %}Mise à Jour Exercice{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<br>
<div class="col-md-6">
	<div class="card card-body">

		<div class="row">
			<div class="col">
				<h3>Exercice : <b>{{exercice}}</b></h3>
				<br>
				<a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'tasks:createSituation' exercice.id %}">Ajouter une Situation</a>
					<br>		
					<!-- Button to Open the Modal -->
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal1">
						Générer les Situations
					</button>	  
					<!-- The Modal -->
					<div class="modal fade" id="myModal1">
						<div class="modal-dialog">
							<div class="modal-content">			
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Confirmation</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>			  
								<!-- Modal body -->
								<div class="modal-body">
									Confirmer l'insertion des situations ?
					
								</div>			  
								<!-- Modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
									<div class="spinner-grow text-warning"></div>

									<form action="{%url 'tasks:insertSituation' exercice.id %}" enctype="multipart/form-data" method="POST">
										{% csrf_token %}
										<!-- {{form|crispy}} -->
										<input class="btn btn-warning" type="submit" name="OK">					
									</form>
								</div>	  
							</div>
						</div>
					</div>

					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
						Générer les Valeurs
					</button>
					<!-- The Modal -->
					<div class="modal fade" id="myModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Confirmation</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body">
								Confirmer la génération des données ?

							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
								<div class="spinner-grow text-warning"></div>

								<form action="{%url 'tasks:SituationDataUpdate' exercice.id %}" enctype="multipart/form-data" method="POST">
									{% csrf_token %}
									<!-- {{form|crispy}} -->
									<input class="btn btn-warning" type="submit" name="OK">
								</form>
							</div>
						</div>
					</div>
				</div>
				<a class="btn btn-warning" href="{% url 'tasks:exerciceListSituation' %}">Retour</a>
			</div>

		</div>
	</div>
</div>


<div class="col-md-12">
	<div class="card card-body">
		<h3>Liste des <b>{{ situations|length}}</b> situations</h3>			
			<div class="card-body">
				<input class="form-control" id="myInput" type="text" placeholder="Recherche..">

						<div class="card-body">
							{% if situations %}
							<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th>LDM</th>
									<th>Exercice</th>
									<th>Date Ouverture</th>
									<th>Date Clôture</th>
									<th>Durée en mois</th>
									<th>Situation</th>
									<th>Révision</th>
									<th>Résultat Fiscal</th>
									<th>Liasse Fiscal</th>
									<th>Document</th>
								</tr>
							</thead>

							<tbody id="myTable">

							{% for situation in situations %}
			
									<tr>
										<td>{{situation.lettremission.company|truncatechars:25}}</td>
										<td><b>{{situation.exercice}}</b></td>
										<td>{{situation.date_start}}</td>
										<td>{{situation.date_closing}}</td>
										<td><b>{{situation.numbre_month}}</b></td>

										{% if situation.statut == 0 %}
										<td ><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-window-close"></i> En Attente</a></td>
										{% elif situation.statut == 1 %}
										<td ><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-step-forward"></i> Préparé</a></td>
										{% elif situation.statut == 2 %}
										<td ><a class="btn btn-sm btn-success" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-check-double"></i> Validé</a></td>
										{% else %}
										<td ><a class="btn btn-sm btn-dark" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fab fa-slack-hash"></i> Non Applicable</a></td>
										{% endif %}
					
										<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateSituationSection' situation.id %}"><i class="fas fa-eye"></i> Révision</a></td>
										<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateSituationColl' situation.id %}"><i class="fas fa-eye"></i> Résultat Fiscal</a></td>
										<td ><a class="btn btn-sm btn-info" href="{% url 'tasks:updateSituationLiasseFiscal' situation.id %}"><i class="fas fa-eye"></i> Liasse Fiscal</a></td>
										

										{% if situation.file %}
										<td><a class="btn btn-sm btn-success" href="{{situation.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
										{% else %}
										<td><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-file-upload"></i></a></td>
										{% endif %}
									</tr>
									
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			{% else %}
			{% endif %}
		</div>
  </div>



{% endblock content %}