<!-- templates/tasks/exercice_detail.html -->
{% extends '_base.html' %}
{% block title %}Mise à Jour Exercice{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
	.accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 15px;
	  transition: 0.4s;
	}
	
	.active, .accordion:hover {
	  background-color: #ccc;
	}
	
	.accordion:after {
	  content: '\002B';
	  color: #ff6600;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}
	
	.active:after {
	  content: "\2212";
	}
	
	.panel {
	  padding: 0 18px;
	  background-color: white;
	  max-height: 0;
	  overflow: hidden;
	  transition: max-height 0.2s ease-out;
	}
	</style>

<br>


<div class="col-md-12">
	<div class="card card-body">
	<h3>Exercice : <b>{{exercice}}</b></h3>
	<br>
	<a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'tasks:createSituation' exercice.id %}">Ajouter une Situation</a>
	<br>
	<form action="" enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		<!-- {{form|crispy}} -->
		<a class="btn btn-warning" href="{% url 'tasks:exerciceList' %}">Retour</a>
		<a class="btn btn-secondary" href="{%url 'tasks:insertSituation' exercice.id %}">Générer les Situations</a>
		<a class="btn btn-secondary" href="{%url 'tasks:SituationDataUpdate' exercice.id %}">Générer les Valeurs</a>
		<input class="btn btn-primary" type="submit" name="OK">
		
	</form>
	</div>
</div>

<div class="col-md-12">
	<div class="card card-body">
		{% regroup situations by lettremission as lettremission_list %}
		<h3>Liste des <b>{{ situations|length}}</b> situations</h3>			
			{% for lettremission, situations in lettremission_list %}
			<div class="card-body">
				<button class="accordion">{{lettremission}} </button>
				<div class="panel">	
						<div class="card-body">
								{% if lettremission %}
								<table class="table table-sm">
									<tr>
										<th>LDM</th>
										<th>Exercice</th>
										<th>Date Ouverture</th>
										<th>Date Clôture</th>
										<th>Durée en mois</th>
										<th>Statut</th>
										<th>Document</th>
										<th>Supprimer</th>
									</tr>
								{% else %}
								{% endif %}

								{% for situation in situations %}
				
										<tr>
											<td>{{situation.lettremission.company|truncatechars:25}}</td>
											<td><b>{{situation.exercice}}</b></td>
											<td>{{situation.date_start}}</td>
											<td>{{situation.date_closing}}</td>
											<td><b>{{situation.numbre_month}}</b></td>

											{% if situation.statut == 0 %}
											<td ><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-window-close"></i> En Attente</a></td>
											{% elif situation.statut == 1 %}
											<td ><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-step-forward"></i> Préparé</a></td>
											{% elif situation.statut == 2 %}
											<td ><a class="btn btn-sm btn-success" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-check-double"></i> Validé</a></td>
											{% else %}
											<td ><a class="btn btn-sm btn-dark" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fab fa-slack-hash"></i> Non Applicable</a></td>
											{% endif %}
						
											{% if situation.file %}
											<td><a class="btn btn-sm btn-success" href="{{situation.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
											{% else %}
											<td><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateSituation' situation.id %}"><i class="fas fa-file-upload"></i></a></td>
											{% endif %}
						
											<td><a class="btn btn-sm btn-outline-danger" href="{% url 'tasks:deleteSituation' situation.id %}"><i class="fas fa-trash"></i> Sup.</a></td>
										</tr>
										
									{% endfor %}
								</table>
						</div>
					</div>
				</div>
				{% endfor %}
		
			</div>
  </div>


  <script>
	var acc = document.getElementsByClassName("accordion");
	var i;
	
	for (i = 0; i < acc.length; i++) {
	  acc[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var panel = this.nextElementSibling;
		if (panel.style.maxHeight) {
		  panel.style.maxHeight = null;
		} else {
		  panel.style.maxHeight = panel.scrollHeight + "px";
		} 
	  });
	}
	</script>

{% endblock content %}