<!-- templates/tasks/period_detail.html -->
{% extends '_base.html' %}
{% block title %}Mise à Jour Client{% endblock title %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<br>


    <div class="col-md-4">
        <div class="card card-body">
		<h3>Période : {{period}}</h3>
		<br>
		<form action="" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
			<!-- {{form|crispy}} -->
			<a class="btn btn-warning" href="{% url 'tasks:periodList' %}">Retour</a>
			<a class="btn btn-secondary" href="{%url 'tasks:insertWork' period.id %}">Générer les Tâches</a>
			<a class="btn btn-secondary" href="{%url 'tasks:ExtraDataUpdate' period.id %}">Générer les Valeur</a>
			<input class="btn btn-primary" type="submit" name="OK">
			
		</form>

		</div>
    </div>


	{% regroup works by lettremission as lettremission_list %}
	<ul>
		{% for lettremission, works in lettremission_list %}
		<li>
			{{lettremission}}

			<ul>
				{% for work in works %}
				
				<li>{{work.task}} {{work.period.echeance}}</li>
				


				{% endfor %}

			</ul>

		</li>
		{% endfor %}


	</ul>

</div>
</div>

	<!-- <div class="col-md-12">
		<div class="card card-body">
			<a class="btn btn-secondary" href="{%url 'tasks:createWork' period.id %}">Ajouter un Tâche à faire</a>
			<br>
			{% if works %}
			<table class="table table-sm">
				<tr>
					<th>Echéance</th>
					<th>LDM</th>
					<th>Tâche</th>
					<th>Date Limite</th>
					<th>Valeur</th>
					<th>Quittance</th>
					<th>Statut</th>
					<th>Document</th>
					<th>Supprimer</th>
				</tr>
			{% else %}
			{% endif %}
				{% for work in works %}

					<tr>
						<td>{{work.period.echeance}}</td>
						<td>{{work.lettremission.company|truncatechars:25}}</td>
						<td>{{work.task}}</td>
						<td>{{work.date_limit}}</td>
						<td style="text-align: right"><b>{{work.value}}</b></td>
						{% if work.proof %}
						<td ><a class="btn btn-sm btn-success" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-link"></i> {{work.proof}}</a></td>
						{% else %}
						{% if work.statut == 3 %}
							<td><a class="btn btn-sm btn-dark" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-unlink"></i></a></td>
							{% else %}
							<td><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-unlink"></i></a></td>
							{% endif %}
						{% endif %}
						{% if work.statut == 0 %}
						<td ><a class="btn btn-sm btn-danger" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-window-close"></i> En Attente</a></td>
						{% elif work.statut == 1 %}
						<td ><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-step-forward"></i> Préparé</a></td>
						{% elif work.statut == 2 %}
						<td ><a class="btn btn-sm btn-success" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-check-double"></i> Validé</a></td>
						{% else %}
						<td ><a class="btn btn-sm btn-dark" href="{% url 'tasks:updateWork' work.id %}"><i class="fab fa-slack-hash"></i> Non Applicable</a></td>
						{% endif %}
	
						{% if work.file %}
						<td><a class="btn btn-sm btn-success" href="{{work.file.url}}"><i class="far fa-file-alt"></i> Doc</a></td>
						{% else %}
						<td><a class="btn btn-sm btn-warning" href="{% url 'tasks:updateWork' work.id %}"><i class="fas fa-file-upload"></i></a></td>
						{% endif %}
	
						<td><a class="btn btn-sm btn-outline-danger" href="{% url 'tasks:deleteWork' work.id %}"><i class="fas fa-trash"></i> Sup.</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

<div class="card-body">
	<div id="accordion">
		{% for lettremission in lettremissions %}
		<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						{{lettremission}}
						</button>
					</h5>
				</div>
			
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						zzzzzzz
					</div>
				</div>
		</div>
		{% endfor %}

	</div>
</div> -->



{% endblock content %}