<!--templates/period_delete.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Supprimer une Echéance{% endblock title %}

{% load static %}
{% block content %}
<br>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">

        <strong>Alert !</strong> {{ message }}.
      </div>
    {% endfor %}
{% endif %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Etes-vous sûr de vouloir supprimer "{{period}}" ?</p>

            <form action="{% url 'tasks:periodDelete' period.id %}" method="POST">
            
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'tasks:periodList' %}">Retour</a>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>            
        </div>
    </div>
    
</div>


{% endblock content %}