<!--templates/situation_update.html-->
{%  extends '_base.html' %}
{% load static %}

{% block title %}Déclaration du résultat fiscal{% endblock title %}


{% load crispy_forms_tags %}
{% block content %}




<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body">
            <div class="mb-4">
                <h3 class="card-title mb-0">{{situation.lettremission.company.name}} / {{situation.exercice}}</h3>
            </div>            
            <form action="" enctype="multipart/form-data" method="POST">
                {% if situation.supervised == True or situation.statut == 2 and is_manager == False %}
                {% if is_manager == True %}
                <a class="btn btn-warning" href="{% url 'tasks:exerciceDetailManager' exercice %}">Retour</a>
                {% else %}
                <a class="btn btn-warning" href="{% url 'accounts:LdmSituation' situation.lettremission.id %}">Retour</a>
                {% endif%}

                <fieldset disabled>
                {% else %}
                <fieldset>
                {% endif%}

                {% csrf_token %}
                {{form|crispy}}

                {% if is_manager == True %}
                <a class="btn btn-warning" href="{% url 'tasks:exerciceDetailManager' exercice %}">Retour</a>
                {% else %}
                <a class="btn btn-warning" href="{% url 'accounts:LdmSituation' situation.lettremission.id %}">Retour</a>
                {% endif%}
                <input class="btn btn-primary" type="submit" name="Submit">
            </fieldset>
            </form>
        </div>
    </div>
</div>



{% endblock content %}