<!--templates/Situation.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Tâche{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}

<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="{% url 'tasks:createSituation' period.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <a class="btn btn-warning" href="{% url 'tasks:periodDetail' period.id %}">Retour</a>

                <input class="btn btn-primary" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}