<!--templates/taxreturn_update.html-->
{%  extends '_base.html' %}
{% load static %}
{% block title %}Mise à Jour Service{% endblock title %}


{% load crispy_forms_tags %}
{% block content %}
<br>

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" enctype="multipart/form-data" method="POST">
                {% if taxreturn.supervised == True or taxreturn.statut == 2 %}
                <a class="btn btn-warning" href="{% url 'accounts:companyTdb' taxreturn.lettremission.company.id %}">Retour</a>

                <fieldset disabled>
                {% else %}
                <fieldset>
                {% endif%}

                {% csrf_token %}
                <!-- <br>
                <input class="form-control" id="disabledInput" type="text" placeholder="{{taxreturn.lettremission.company}}" disabled>
                <br>
                <input class="form-control" id="disabledInput" type="text" placeholder="{{taxreturn.task.name}}" disabled>
                <br>
                <input class="form-control" id="disabledInput" type="text" placeholder="Echéance du : {{taxreturn.situation.echeance}}" disabled>
                <br>
                <input class="form-control is-invalid" id="disabledInput" type="text" placeholder="Date Limite du : {{taxreturn.date_limit}}" disabled>
                <br> -->
                {{form|crispy}}
                {% if is_val == True %}
                <a class="btn btn-warning" href="{% url 'accounts:userPortefolio' %}">Retour</a>
                {% else %}
                <a class="btn btn-warning" href="{% url 'accounts:companyTdb' taxreturn.lettremission.company.id %}">Retour</a>
                {% endif %}
                <input class="btn btn-primary" type="submit" name="Submit">
            </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock content %}